<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-app="scoreboard" ng-controller="scoreboardController">

            <div>

                <div>

                    <h2>Results</h2>

                    <table>
                        <thead>
                            <th>Player 1</th>
                            <th colspan="3">Score</th>
                            <th>Player 2</th>
                        </thead>
                        <tr ng-repeat="row in results">
                            <td>{{ row.player_1 }}</td>
                            <td class="score-1">{{ row.score_1 }}</td>
                            <td class="dash">-</td>
                            <td class="score-2">{{ row.score_2 }}</td>
                            <td>{{ row.player_2 }}</td>
                        </tr>
                    </table>

                </div>

                <div>

                    <h2>Add Result</h2>

                    <form name="myForm">

                        <table>
                            <thead>
                                <th>Player 1</th>
                                <th colspan="3">Score</th>
                                <th>Player 2</th>
                                <th></th>
                            </thead>
                            <tr>
                                <td>
                                    <select name="repeatSelect" id="repeatSelect" ng-model="result.player_1">
                                        <option ng-repeat="option in players" value="{{option.name}}">{{option.name}}</option>
                                    </select>
                                </td>
                                <td class="score-1">
                                    <input type="number" ng-model="result.score_1">
                                </td>
                                <td class="dash">-</td>
                                <td class="score-2">
                                    <input type="number" ng-model="result.score_2">
                                </td>
                                <td>
                                    <select name="repeatSelect" id="repeatSelect" ng-model="result.player_2">
                                        <option ng-repeat="option in players" value="{{option.name}}">{{option.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <button ng-click="addResult(result)">Add</button>
                                </td>
                            </tr>
                        </table>
                        
                    </form>

                </div>

            </div>

            <hr/>

            <div>

                <h2>Add Player</h2>

            </div>

            <hr/>

            <div>

                <h2>League</h2>

            </div>

        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/scoreboard.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
